.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  width: 340px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white;
}

.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.checkout {
  background-color: whitesmoke;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #e8e8fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%
}

.checkout p {
  display: inline-table;
  margin-top: -22px;
  padding: 2px 10px;
  text-align: center;
  background: #ffffff;
  border-radius: 25px;
  font-size: 1.029em;
}

.card-info {
  display: flex;
  max-width: 330px;
}

.card-info-element {
  width: 100%;
  justify-content: space-around;
  margin: 2px 5px;
}

.Cardholder {
  border-style: none;
  font-size: 16px;
  color: #424770;
  font-family: Open Sans, sans-serif;
  letter-spacing: 0.030em;
}

.Cardholder:focus {
  outline: none;
  border-style: none;
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.Cardholder::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  letter-spacing: 0.030em;
  color: #acb7c3;
  opacity: 1;
  /* Firefox */
}