.Signup-card {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 400px;

  
  padding: 15px 0 15px 0;
  background-color: #fff;
  border: 0px solid black;
  border-radius: 5px;
  box-shadow: 0px 10px 31px #888888a8;
}

.Signup-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.Signup-title {
  align-items: center;
  display: flex;
  justify-content: center;
}

#g-recaptcha {
  margin-top: 20px;
}

footer h5 a {
  color: #3f51b5
}