.App {
  text-align: center;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
.view-container{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.auth-container {
  margin: 20px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around
}

.auth-footer {
  justify-content: center;
  background-color: #222;
  height: 51px;
  width: 100%;
  bottom: 0px;
  color: white;
  display: flex;
}

hr {
  width: 90%;
  border-top: 1px dashed #8c8b8b;
}